<div class="nav">
	<a href="#/menu"><i class="fa fa-bars"></i></a>
	<span class="title">List</span>
</div>
<div class="content">
	<div class="item" ng-hide="vm.items.length > 0">
		<i class="fa fa-shopping-cart"></i>
		<span class="name">Empty</span>
	</div>
	<div class="item" ng-repeat="item in vm.items" ng-class="{strike:item.is_bought}" ng-click="vm.toggle(item)" swipe-delete swipe-delete-item="item" swipe-delete-items="vm.items">
		<i class="fa fa-square-o" ng-show="!item.is_bought"></i>
		<i class="fa fa-check-square-o" ng-show="item.is_bought"></i>
		<span class="name">{{item.name}}</span>
	</div>
</div>
<a class="action-button" href="#/new">+</a>
