html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 22px;
}
body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
input {
	box-sizing: border-box;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	margin-top: 12px;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 22px;
	outline: none;
}
::-webkit-input-placeholder {
	color: #b5b5b5;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
button {
	float: right;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	margin-top: 12px;
	background-color: #009688;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	border: 0;
	box-shadow: rgba(0,0,0,.258824) 0 2px 5px 0;
	outline: none;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 18px;
	padding-bottom: 16px;
	width: 100%;
	height: 28px;
	background-color: #009688;
	box-shadow: rgba(0,0,0,.258824) 0 2px 5px 0;
	color: #fff;
	z-index: 1001;
}
.nav span.title {
	padding-left: 20px;
	font-weight: 400;
}
.nav i.fa,
.nav a {
	color: #004d40;
}
.nav i.fa {
	margin-left: 24px;
}
.content {
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 75px;
	padding-left: 16px;
	margin-top: 60px;
}
.item,
.swipe-inner,
.swipe-undo {
	padding-top: 16px;
	padding-bottom: 16px;
}
.item {
	border-bottom: 1px solid #e7e7e7;
	cursor: pointer;
}
.item a,
.item span.name {
	margin-left: 20px;
	margin-right: 20px;
	color: #363636;
	text-decoration: none;
	word-wrap: break-word;
}
.item i.fa {
	margin-left: 12px;
	color: #ddd;
}
.item.strike span {
	color: #b5b5b5;
	font-weight: 100;
	font-style: italic;
	text-decoration: line-through;
}
.swipe-outer {
	padding: 0;
	position: relative;
	overflow: hidden;
}
.swipe-inner {
	position: absolute;
	z-index: 102;
	width: 100%;
	background-color: #fafafa;
}
.swipe-undo {
	background-color: #ff1744;
}
.swipe-undo i.fa {
	color: #fff;
}
.swipe-undo span.name {
	color: #ff1744;
}
.swipe-undo span.label {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
	font-style: normal;
	text-decoration: none;
}
a.action-button {
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 60px;
	height: 60px;
	background-color: #ff1744;
	color: #fff;
	-webkit-border-radius: 40px 40px 40px 40px;
	border-radius: 40px 40px 40px 40px;
	box-shadow: rgba(0,0,0,.137255) 0 0 4px 0, rgba(0,0,0,.278431) 0 4px 8px 0;
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	z-index: 1001;
}
